/* Basic page styles */
body {
  font-family: Segoe UI, Arial, Helvetica, sans-serif;
  margin: 20px;
  background: #f7f7fb;
  color: #111;
  display: flex;
}

h1 {
  margin-bottom: 20px;
}

.input-section {
    margin: 14px 0;
    display: contents;
    flex-direction: column;
}